@import "../../styles/vars";

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  &-item {
    padding: 10px 15px;
    list-style: none;
    cursor: pointer;
    color: $gray-7;

    &.is-active {
      color: $primary !important;
    }

    &.is-disabled {
      color: $gray-4 !important;
      cursor: not-allowed;
    }
  }
}
